<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

  {% if include.title %}
  <title>{{ include.title }}</title>
  {% else %}
  <title>HU UI Track</title>
  {% endif %}

  <meta name="description" content="MoM provides a way to manage your day to day notes in the most simplest way.">
  <meta name="author" content="MoM applications">
  
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% css main %}
</head>
