<div class="flex-container-header">
  <div class="logo-title">
    <div class="flex-item logo"></div>
    <div class="flex-item name">MoM</div>
  </div>
  <div class="fast-options">
    <div class="flex-item pricing"><a href="/blog">Pricing</a></div>
    <div class="flex-item blog"><a href="/blog">Blog</a></div>
    <div class="flex-item login"><a href="/login">Login</a></div>
    <div class="flex-item signup">
      <button class="signup">Sign&nbsp;Up&nbsp;Free</button>
    </div>
  </div>
    <div class="hamburger">
      <img class="hamburger-icon" src="/img/shape-2.png" onclick="menuFunction()">
      <div class="menu-options">
        <div class="close-menu"><img src="/img/shape-2.png"></div>
        <div class="pricing"><a href="/blog">Pricing</a></div>
        <div class="blog"><a href="/blog">Blog</a></div>
        <div class="login"><a href="/login">Login</a></div>
        <div class="signup">
          <button class="signup">Sign&nbsp;Up&nbsp;Free</button>
        </div>
      </div>
    </div>
</div>

