<div class="flex-container-header">
  <div class="logo-title">
    <div class="flex-item logo"></div>
    <div class="flex-item name">MoM</div>
  </div>
  <div class="fast-options">
    <div class="flex-item pricing"><a href="/blog">Pricing</a></div>
    <div class="flex-item blog"><a href="/blog">Blog</a></div>
    <div class="flex-item login"><a href="/login">Login</a></div>
    <div class="flex-item signup">
      <button class="signup">Sign&nbsp;Up&nbsp;Free</button>
    </div>
  </div>
</div>

