.copyright-box {
  background-color: $copyright-background-color;
  max-width: 100%;
  }

.copyright {
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $copyright-text-color;
  padding-top: 1%;
  padding-bottom: 1%;
}
