.copyright-box {
  height: 8vh;
  background-color: #1d2531;
  max-width: 100%;
  }

.copyright {
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e4959;
}
