.main-box {
  width: 100vw;
  }

.intro-box {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/banner.jpg);
  max-width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  }

.Group-14 {
  width: 50vw;
  height: 100vh;
  object-fit: contain;
  }

.stats-box {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-image: url(../img/insights_bg.jpg);
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  }

.user-experience-box {
  width: 100vw;
  height: 100vh;
  background-color: #273140;
  max-width: 100%;
  }

.pricing-box {
  width: 100vw;
  height: 100vh;
  background-color: #273140;
  max-width: 100%;
  }

.query-box {
  width: 100vw;
  height: 100vh;
  background-color: #212a38;
  max-width: 100%;
  }

.social-media-box {
  width: 100vw;
  height: 100vh;
  background-color: #2c3748;
  max-width: 100%;
  }

.site-map {
  width: 100vw;
  height: 100vh;
  background-color: #212a37;
  max-width: 100%;
  }

.copyright-box {
  width: 100vw;
  height: 69.3vh;
  background-color: #1d2531;
  max-width: 100%;
  }

.copyright {
  width: 100vw;
  height: 17vh;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e4959;
}
