.Layer-0 {
  width: 1919px;
  height: 7764px;
  }

.Layer-16 {
  width: 1919px;
  height: 1079px;
  object-fit: contain;
  background-image: url(../img/banner.jpg);
  max-width: 100%;
  }

.Group-14 {
  width: 740px;
  height: 1284px;
  object-fit: contain;
  }

.shutterstock_251616610 {
  width: 1919px;
  height: 369px;
  object-fit: contain;
  max-width: 100%;
  }

.Rectangle-4 {
  width: 1919px;
  height: 913.9px;
  background-color: #273140;
  max-width: 100%;
  }

.Rectangle-15 {
  width: 1919px;
  height: 900px;
  background-color: #273140;
  max-width: 100%;
  }

.Rectangle-1-copy-6 {
  width: 1919px;
  height: 704px;
  background-color: #212a38;
  max-width: 100%;
  }

.Rectangle-13 {
  width: 1918.6px;
  height: 87px;
  background-color: #2c3748;
  max-width: 100%;
  }

.Rectangle-7 {
  width: 1919px;
  height: 416.5px;
  background-color: #212a37;
  max-width: 100%;
  }

.Rectangle-11 {
  width: 1918.6px;
  height: 69.3px;
  background-color: #1d2531;
  max-width: 100%;
  }

.Copyright-2016-MoM {
  width: 214px;
  height: 17px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e4959;
}

