.flex-container-header {
  display: flex;
  justify-content: space-around;
}

.logo {
  background-image: url(../img/logo_02.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.flex-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
}

// .fast-options {
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   justify-content: flex-end;
//   justify-content: space-between;
//   justify-content: space-around;
//   font-family: Roboto;
//   font-size: 21px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   text-align: left;
//   color: #ffffff;
//   width: 20vh;
//   height: 5vh;
// }

