.flex-container-header {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.logo-title {
  display: flex;
  margin-left: 5%;
  .logo {
    background-image: url(/img/logo_02.png);
    background-size: contain;
    max-width: 100%;
    background-repeat: no-repeat;
  }
  .name {
    margin-left: -15%;
    color: $white;
    font-size: 30px;
  }
}

.hamburger {
  display: none;
}

.fast-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  margin-left: 15%;
  width: 30%;
  font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $white;
}

.flex-item a{
  width: 63px;
  height: 21px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: $white;
}

.signup{
  background-color: transparent;
  button {
    border-radius: 19.9px;
    border: solid 1.1px $white;
    font-family: Roboto;
    font-size: 16.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $white;
  }
}

@media only screen and (max-width: 768px) {
  .fast-options {
    display: none;
  }
  .hamburger {
    display: block;
    // display: flex;
    // max-width: 10%;
    // margin-right: 5%;
  }
}
