.backgroung-fix-contain {
  background-repeat: no-repeat;
  background-size: contain;
}

.social-media-box {
  background-color: #2c3748;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
}

.flex-item {
  justify-content: space-around;
  width: 5vw;
  height: 5vh;
}

.facebook {
  background-image: url(/img/Social_png/facebook.png);
  @extend .backgroung-fix-contain;
}

.twitter {
  background-image: url(/img/Social_png/twitter.png);
  @extend .backgroung-fix-contain;
}

.linkedin {
  background-image: url(/img/Social_png/linkdin.png);
  @extend .backgroung-fix-contain;
}

.google {
  background-image: url(/img/Social_png/google.png);
  @extend .backgroung-fix-contain;
}
